:host {
  display: block;
  min-height: 100vh;
  background-color: #fcf3e2;
  font-family:
    'Inter',
    system-ui,
    -apple-system,
    sans-serif;
}

.main-layout {
  width: 100%;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #699c62;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #25231c;
}
