<div class="items-list-container">
  <div class="top-action-row">
    <button class="btn-back" [routerLink]="['/category', categoryId()]">← Back to Products</button>
  </div>

  @if (product()) {
    <header class="list-header">
      <h2>Available {{ product().name }} Varieties</h2>
    </header>

    <div class="rows-wrapper">
      @for (item of items(); track item.id) {
        <div class="item-row-card">
          <a class="item-image-wrapper" [routerLink]="['/category', categoryId(), product().productId, item.variantId]">
            <img [src]="imageBaseUrl + item.imageUrl" [alt]="item.name">
          </a>

          <div class="item-details">
            <span class="item-id-badge">Item #{{ item.variantId }}</span>
            <h3 class="item-name">{{ item.name }}</h3>
          </div>

          <div class="item-actions">
            <div class="item-price">{{ item.price | currency:'INR' }}</div>
            <!-- Added (click) event below -->
            <button 
            class="btn-add-cart" 
            (click)="onAddToCart(item.variantId)"
            [disabled]="item.stockQuantity <= 0"
            [class.out-of-stock]="item.stockQuantity <= 0">
            
            @if (item.stockQuantity > 0) {
              <i class="fa-solid fa-cart-plus"></i> Add to Cart
            } @else {
              <i class="fa-solid fa-box-open"></i> Out of Stock
            }
            </button>
          </div>
        </div>
      }
    </div>
  } @else {
    <div class="no-data">
      <h3>Loading or Product not found</h3>
    </div>
  }
</div>